@model IEnumerable<AzrtMMC.Models.Product>
@{
    ViewBag.Title = "Məhsullar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <a href="/admin/newproduct" class="btn btn-info">Yeni Məhsul</a>
        @if (TempData["Success"] != null)
        {
            <div class="row">
                <div class="col-12" style="margin-top:20px;"><div class="alert alert-info">@TempData["Success"]</div></div>
            </div>
        }
        <table class="table datatable-pagination">
            <thead>
                <tr>
                    <th>Məhsul adı</th>
                    <th>Məhsul açıqlama</th>
                    <th>Məhsul xüsusiyyətləri</th>
                    <th>Məhsul alt kateqoriya</th>
                    <th colspan="2">Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @if (item.Description.Length > 41)
                            {
                                @Html.Raw(item.Description.Substring(0, 40));<span>...</span>
                            }
                            else
                            {
                                @Html.Raw(item.Description);
                            }
                        </td>
                        <td>
                            @if (item.Property.Length > 41)
                            {
                                @Html.Raw(item.Property.Substring(0, 40));<span>...</span>
                            }
                            else
                            {
                                @Html.Raw(item.Property);
                            }
                        </td>
                        <td>
                            @foreach (var sub in (List<AzrtMMC.Models.SubCategory>)ViewBag.SubCategories)
                            {
                                if (sub.Id == item.SubCategoryId)
                                {
                                    @sub.Name <span> | </span>
                                }
                            }
                        </td>
                        <td>
                            <a href="/admin/editproduct/@item.Id" class="btn btn-primary btn-sm">Düzəliş</a>
                        </td>
                        <td>
                            <a href="/admin/deleteproduct/@item.Id" class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

